body {
  margin: 0;
  background: #F7F7F7;
  font-family: Arial, sans-serif;
}

.screen {
  max-width: 390px;
  margin: auto;
  background: white;
  padding: 24px;
  min-height: 100vh;
}

.logo {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #FF4FA2;
  margin-top: 20px;
}

.subtitle {
  text-align: center;
  color: gray;
  margin-top: -10px;
}

.btn {
  display: block;
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  margin-top: 16px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
}

.google {
  background: white;
  color: #333;
  border: 1px solid #E0E0E0;
}

.apple {
  background: black;
  color: white;
}

.facebook {
  background: #4267B2;
  color: white;
}

.input {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #E5E5E5;
  margin-top: 18px;
}

.small {
  text-align: center;
  margin-top: 18px;
}

.link {
  color: #FF4FA2;
  font-weight: bold;
  text-decoration: none;
}
